body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
  text-align: center;
}

.calender {
  display: grid;
  grid-template-columns: repeat(4, 32.5%);
  gap: 1rem;
  place-content: center;
}

.header {
  background-color: rgb(82, 177, 236);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  text-align: center;
}

.days {
  background-color: rgb(118, 207, 236);
}

.holidays {
  background-color: rgb(247, 247, 144);
  color: rgb(70, 147, 170);
  font-weight: bold;
}

.weekend {
  background-color: lightgrey;
}

.school {
  background-color: rgb(140, 226, 255);
}

.exam {
  background-color: rgb(255, 208, 120);
}
.sp {
  background-color: rgb(231, 170, 56);
}
.poe {
  background-color: rgb(230, 151, 230);
}
.training {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.training1 {
  border-collapse: collapse;
  width: 70%;
  margin-right: 20px;
}
